@import 'normalize.less/normalize.less';

@vertical-spacing: 18px;
@horizontal-spacing: 18px;
@blue: #0bf;

html {
  color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  width: 90%;
  min-width: 320px;
  max-width: 600px;
  margin: @vertical-spacing auto;
  padding: @vertical-spacing @horizontal-spacing;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 0 1px #aaa;
}

.text-label {
  display: block;
  border-left: 1px solid transparent;
  padding: @vertical-spacing / 2;
  margin-bottom: @vertical-spacing / 2;

  &.error {
    border-left: 1px solid red;
    color: red;
  }
}

.text-input {
  min-width: 50%;
  padding: @vertical-spacing / 2;
  border: 1px solid #aaa;
  border-radius: 9px;

  &:focus {
    box-shadow: 0 0 3px @blue;
    outline: none;
  }

  & + .button {
    margin-left: @horizontal-spacing / 2;
  }
}

.button {
  padding: @vertical-spacing / 2;
  border: 0;
  border-radius: 3px;
  background: #09f;
  color: white;
  box-shadow: 0 1px 3px #777;
  outline: none;

  &:active {
    box-shadow: inset 0 1px 3px #777;
  }

  &-link {
    background: inherit;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: @blue;
  }
}
/**
 * Resets
 */
*, :before, :after {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

input[type=checkbox] {
  -webkit-appearance:checkbox;
}

input, select, button, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: none;
  font: inherit;
  color: inherit;
}

/**
 * Base
 */
html {
  font: 112.5%/1.2 "Roboto", Arial, sans-serif;
  color: #3d464d;
  background-color: #fff;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  overflow: hidden-x;
  text-align: center;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  // -webkit-box-align: center;
  // -webkit-align-items: center;
  //     -ms-flex-align: center;
  //         align-items: center;
  // -webkit-box-pack: center;
  // -webkit-justify-content: center;
  //     -ms-flex-pack: center;
  //         justify-content: center;
  width: 100%;
  height: 100%;
}

.container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 612px;
  max-width: 34rem;
}

a {
  color: #3d464d;
  -webkit-transition: color 0.2s;
          transition: color 0.2s;
}

a:hover, a:focus {
  color: #267dc0;
}

h1 {
  font-size: 72px;
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: .5em;
  color: #267dc0;
}

.subheader {
  font-weight: 300;
  margin-bottom: 1.5em;
}

.hint {
  color: #ccc;
  margin: 2em 0;
}

.footer {
  font-weight: 300;
  padding-top: 2em;
  margin-top: 2em;
  border-top: 1px solid #ccc;
}

.ubilabs {
  vertical-align: middle;
}
/**
 * The geosuggest module
 */
.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 50%;
  margin: 1em auto;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest-item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest-item:hover,
.geosuggest-item:focus {
  background: #f5f5f5;
}
.geosuggest-item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
  background: #ccc;
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.result {
  padding: 8px 0;
}
