<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AMYS</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-t_6mqKXkBUGJfQVs_xRlZ1cXWGtm9zQ&libraries=places"></script>
  </head>
  <body>
    <div class="fl w-30 pa2">
      <div id="search"></div>
    </div>
    <div class="fl w-70 pa2">
      <div id="results"></div>
    </div>
    <script async src="{{url_for('static', filename='js/main.bundle.js')}}"></script>
  </body>
</html>
